@media only screen and (max-width: 770px) {
    #search-left{
        border-radius: 0px;

    }
    #search-right{
        border-radius: 12px;
        min-height: 5vh;
    }

    #small-search-left{
        margin-top:2vh;
        margin-bottom: 0;
        border-radius: 0px;

    }
    #small-search-right{
        margin-top:1vh;
        margin-bottom: 2vh;
        border-radius: 12px;
        min-height: 5vh;
    }

}