body {
  width: 100%;
}

.root {
  display: flex;
  justify-content: left;
  background: #272727;
  color: #b2a9fd;
  margin-top: -10px;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  height: 60px;
  overflow: auto;
}

/*
nav{
	display: flex;
}*/

.cover {
  height: 100vh;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="submit"] {
  background-color: #aacc00;
  border: 1px solid #aacc00;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  transition: 0.4s all;
}

#main-submit:hover {
  background-color: #c0e218;
}

.form-design > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
}

#heading {
  color: white;
  font-weight: 700;
  margin-left: -270px;
}

#main-search {
  background: #f4f4f4;
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px;
  margin-right: 10px;
}

#main-submit {
  position: relative;
  left: -5px;
  border-radius: 0px;
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  background: #54e346;
  color: #fff;
}

body {
  background-image: linear-gradient(to right, #096279, #00d4ff);
}

.nav-container {
  background: black;
  color: white;
}

#container {
  width: 500px;
  border: 1px solid black;
  height: 650px;
  font-family: sans-serif;
  font-size: 30px;
  background: white;
  color: black;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

#container:hover {
  box-shadow: 10px 10px #82818a;
}

#login-container {
  width: 480px;
  /*border: 1px solid black;*/
  height: 620px;
  font-family: sans-serif;
  font-size: 30px;
  background: white;
  color: black;
  margin: 0 auto;
  padding-top: 60px;
  margin-top: 15px;
}
#register-container {
  width: 480px;
  /*border: 1px solid black;*/
  height: 620px;
  font-family: sans-serif;
  font-size: 23px;
  background: white;
  color: black;
  margin: 0 auto;
  margin-top: 15px;
}
.sub-cont {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.input-ho-yo {
  border: 0px;
  border-bottom: 2px solid grey;
  height: 35px;
  width: 250px;
  font-size: 28px;
  color: grey;
}
.btn {
  width: 220px;
  height: 35px;
  font-size: 26px;
  color: white;
  background: #0096c7;
  border-radius: 3px;
  border: 0px;
}
.btn:focus {
  background-color: green;
}

.hide {
  visibility: none;
  display: none;
}

/*.height-milau{
	height: 700px;
	color: red;
}*/

.more-info {
  font-size: 22px;
  margin-left: 37%;
}

#l-toggle-garne:hover,
#r-toggle-garne:hover {
  cursor: pointer;
  color: skyblue;
}
/*
.table-div{
	background: #6dd5ed;
	height: 150px;
}*/

.we-div {
  text-align: center;
  font-size: 30px;
  padding-top: 150px;
  font-weight: 700;
}

/*.for-table {
	position: absolute;
	z-index: 1;
	opacity: 0.7;
	font-family: "Times New Roman";
	font-size: 20px;
	padding: 10px;

}*/

.for-table {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 300px;
  text-align: center;
  border: 0px solid #bcd3c7;
  border-radius: 20px;
  background: white;
  color: black;
  padding-top: 10px;
}

#table-line {
  border-bottom: 1px solid black;
}
.table-head {
  color: black;
}

.for-para {
  font-family: "Helvetica";
  font-size: 15px;
  text-align: center;
}

.click-here {
  color: white;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.header-design {
  padding-top: 100px;

  text-align: center;
}

.navbar {
  padding: 20px 0;
}

#navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  margin-left: 2%;
}

.nav-item {
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background: #54e346;
  color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
  padding: 5px 15px;
}

.banner h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 1000;
  color: #262626;
  text-transform: uppercase;
}

.banner p {
  margin: 16px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 17px;
  color: #262626;
  text-transform: uppercase;
}

.navbar-light .navbar-toggler {
  border: none;
  color: #fff;
  border: 2px solid white;
  background: white;
  border-radius: 0;
  outline: none;
}


/* for view.php */





@media (max-width: 768px) {
  .banner {
    padding: 200px 0;
  }

  .banner h2 {
    font-size: 19px;
  }

  #main-submit {
    background: #54e346;
    /*margin:0 auto;*/
    margin-left: 100px;
    width: 70%;
  }
  .form-design {
    text-align: center;
  }

  #heading {
    margin-left: 20px;
  }

  .table-div {
    padding: 200px 0;
  }

  .for-table {
    margin-top: 190px;
    padding: 300px 0;
    width: 30%;
  }
  .we-div {
    text-align: center;
    margin-top: -255px;

    padding: 250px 0;
    width: 30%;
  }
}

/* /for footer/ */
#footer-id {
  margin-top: auto;
  background-color: #252525;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #111;
  color: white;
}
.footer-content li {
  list-style: none;
}

#find-us {
  font-size: 2rem;
  font-weight: 700;
}

.footer-icon {
  font-size: 2rem;
}

.footer-bottom {
  text-transform: capitalize;
  color: white;
  font-size: 1.2rem;
}
.footer-bottom p {
  margin-bottom: 0;
}
/* /for contactus/  */
.we-head {
  padding-left: 5%;
  color: #fff;
}
.table-wrapper {
  padding-left: 5%;
  width: 100vw;
  background: #bbf1fa;
  border-radius: 20px;
}

.info-row {
  min-height: 100px;
  max-height: 100px;
}
.info-row .col-3 img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.info-head {
  margin-top: auto;
  margin-bottom: auto;
  color: #214151;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
}

.info-data {
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 768px) {
  #content {
    width: 100%;
    margin: none;
    color: #b2a9fd;
  }
}

/* for small search box */
#view-search-container {
  width: 50%;
  margin: 0 auto;
}
